article {
  padding: 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-variant: normal;
  height: unset;
}
article h2, p {
  margin: 0;
  padding: 10px 5px 4px 5px;
}

@media screen and (min-width: 769px) { /* laptop */
  aside {
    height: 100%;
    margin: 0;
  }

  article div.article-image {
    max-width: 100%;
    height: 140px;
    background-image: url("images/tree320.jpg");
    background-size: 320px;
    background-position: center center;
  }
}

@media screen and (min-width: 1201px) { /* tv */
  article div.article-image {
    max-width: 100%;
    height: 180px;
    background-image: url("images/tree640.jpg");
    background-size: 640px;
    background-position: center center;
  }
}