@use "sass:color";

@import "core/core";
@import "core/typography";

@import "abstracts/colors";

@import "layout/menu";
@import "layout/header";
@import "layout/footer";
@import "layout/main";
@import "layout/aside";
@import "layout/page";

@import "sections/extended-header";
@import "sections/table-pies";

@import "forms/generic";
@import "forms/contact";
@import "forms/buy";
