.slide {
  display: none;
}

.slide {
  border: 10px black solid;
  font-size: 50px;
  padding: 200px;
  text-align: center;
}

.slide1 {
  background-color: #92B9BD;
}

.slide2 {
  background-color: #A8D4AD;
}
.slide3 {
  background-color: #F2F79E;
}