$strongFontColor: #2c2929;
$lightFontColor: #413e3e;

@mixin font($font-size: 12px,
          $font-weight: normal, $color: $lightFontColor) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}

.centered-flex {
  display: flex;
  align-items: center;
}

* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
}
.container {
  display: grid;
  grid-template-rows: fit-content(400px) max-content max-content 1fr;
  grid-template-columns:  1fr 350px;
  grid-template-areas:
                "player videos"
                "descr videos"
                "stats videos"
                "gutter videos";
  min-width: 600px;
  max-width: 1000px;
  column-gap: 10px;
  margin: 10px;
}
.player {
  grid-area: player;
}
.videos {
  grid-area: videos;
  height: 100%;
}
.video-descr {
  grid-area: descr;
}
.video-stats {
  grid-area: stats;
}
img {
  width: 100%;
}

/* list of videos */
div.video {
  display: grid;
  grid-template-rows: repeat(3, min-content) 1fr;
  grid-template-columns: 40% 60%;
  grid-template-areas:
                "image descr1"
                "image descr2"
                "image descr3"
                "image gutter";
  padding-bottom: 10px;
  column-gap: 5px;

  img {
    grid-area: image;
  }
  p {
    margin: 0;
    line-height: 1.2;
  }
  p:first-of-type {
    grid-area: descr1;
    padding-bottom: 5px;
    @include font($font-weight: bold, $color: $strongFontColor);
  }
  p:nth-of-type(2) {
    grid-area: descr2;
    @include font();
  }
  p:nth-of-type(3) {
    grid-area: descr3;
    @include font();
  }
}

/* descr + social stats */
div.video-stats {
  @extend .centered-flex;
  justify-content: space-between;

  p{
    @include font();
  }
}
div.video-descr {
  margin-top: 10px;
  @include font($color: $strongFontColor, $font-size: 14px)
}
div.views {
  display: flex;
}
div.social {
  @extend .centered-flex;
  @include font($font-size: 10px);
  height: 30px;

  img {
    width: 16px;
    height: 16px;
  }
  div {
    @extend .centered-flex;
  }
}
div.social > * {
  padding-left: 3px;
}
