$innerBoxWidth: 100px;
$outerBoxWidth: 100px*1.2 + 1cm;
$myColor: #880404;
$boxMargin: 10px;
$theme: "Theme1";

div.container {
  @if $theme == "Theme1" {
    background-color: blue;
  }
  @else if $theme== "Theme2" {
    background-color: red;
  }
  @else {
    background-color: green;
  }
  width: $outerBoxWidth;
  border: 1px black solid;

  div.box {
    width: $innerBoxWidth;
    height: $innerBoxWidth;
    margin: $boxMargin;
    background-color: $myColor;
  }
}