$innerBoxWidth: 100px;
$outerBoxWidth: 100px*1.2 + 1cm;
$myColor: #880404;
$boxMargin: 10px;

div.container {
  width: $outerBoxWidth;
  border: 1px black solid;

  div.box {
    width: $innerBoxWidth;
    height: $innerBoxWidth;
    margin: $boxMargin;
    background-color: red;
  }

  div.box#{1+1} {
    background-color: green;
  }
}

