li:nth-child(odd) {
  color: #880404;
}

li:nth-child(even) {
  color: #095b83;
}

li:nth-child(3n) {
  font-family: sans-serif;
  font-size: 14px;
}

li:nth-child(3n+1) {
  font-family: cursive;
  font-size: 14px;
}

li:nth-child(3n+2) {
  font-family: sans-serif;
  font-size: 24px;
}
